.timer {
  width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 5px black;
  border-radius: 10px;
  overflow: hidden;
  background-color: black;
}

.time {
  font-size: 40px;
  margin: 0 0 15px 0;
}

.buttons {
  display: flex;
  gap: 10px;
}
.button {
  padding: 10px;
  background-color: lightblue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button:hover {
  background-color: hsl(238, 40%, 45%);
}
.time {
  font-size: 40px;
  margin: 15px 0;
}
